.env
.venv
mlflow.db
mlartifacts/
utils/__pycache__/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.DS_Store
Thumbs.db
*.tmp
*.swp
Software_Development_Tracker.xlsx
chroma_db/
../01 Semantic Search/chroma_db/chroma.sqlite3
mlruns/
.env
